{% load static %}
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Attendance Monitoring System</title>

		<!-- AdminLTE CSS -->
		<link
			rel="stylesheet"
			href="{% static 'amsApp/dist/css/adminlte.min.css' %}"
		/>
		<link
			rel="stylesheet"
			href="{% static 'amsApp/plugins/fontawesome-free/css/all.min.css' %}"
		/>

		<!-- custom css -->
		 <link
			rel="stylesheet"
			href="{% static 'amsApp/dist/css/custom.css' %}"
		/>

		<!-- Google Font: Source Sans Pro -->
		<link
			rel="stylesheet"
			href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback"
		/>
		<!-- Ionicons -->
		<link
			rel="stylesheet"
			href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css"
		/>

	

	</head>
	<body class="hold-transition">
		<div class="wrapper">

			<!-- Main Sidebar Container -->

			<!-- Content Wrapper -->
			{% block content %}{% endblock %}

			<!-- <div class="content-wrapper">
				<section class="content">
					<div class="container-fluid">add block content here</div>
				</section>
			</div> -->
		</div>

		<!-- Scripts -->
		<script src="{% static 'amsApp/plugins/jquery/jquery.min.js' %}"></script>
		<script src="{% static 'amsApp/plugins/bootstrap/js/bootstrap.bundle.min.js' %}"></script>
		<script src="{% static 'amsApp/dist/js/adminlte.min.js' %}"></script>
		<script src="{% static 'amsApp/dist/js/darkmode.js' %}"></script>
		<!-- <script src="{% static 'amsApp/dist/js/demo.js' %}"></script> -->

		<script src="{% static 'amsApp/dist/js/darkmode.js' %}"></script>

		<!-- DataTables -->
		
		{% block scripts %} {% endblock %}
	</body>
</html>
